h2{
    color: rebeccapurple;
}
p{
    color: red;
    font-size: 20px;
}

button{
    border: 2px solid greenyellow;
   background-color: chocolate;
    margin: 0px 25px;
    padding: 10px 20px;
    font-size: 20px;
}
.button{
    margin-left: 0px;
}